@model IEnumerable<NewShoeStore.Models.OrderShoe>

@{
    ViewData["Title"] = "Index";
}

<form class="setForm">
    <dl class="row align-items-center d-flex justify-content-start">
        <dt>
            <table class="tableStyle">
                <tr>
                    <th colspan="5">ההזמנה שלך</th>

                </tr>
                <tr>
                    <td>סה"כ לתשלום</td>
                    <td>צבע</td>
                    <td>כמות</td>
                    <td>מידה</td>
                    <td>פריטים</td>
                </tr>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                            <tr>
                                <td>@item.Shoe.Price</td>
                                <td>@item.Shoe.Color </td>
                                <td>1</td>
                                <td>@item.Shoe.Size </td>
                                <td>@item.Shoe.Name </td>
                            </tr>
                        }
                }
            </table>
        </dt>
        <dd>

            <dl class="row setP">
                <dt>
                    <label for="interimAmount" class="frameForText">:סכום ביניים</label>
                </dt>
                <dd>
                    <input type="text" class="autoInput">
                </dd>
            </dl>

            <dl class="row setP">
                <dt>
                    <div>
                        <p>עלות משלוח- 30 שקלים</p>
                        <p>בקניה מעל 300 שקלים משלוח חינם</p>
                    </div>
                </dt>
            </dl>

            <dl class="row setP">
                <dt>
                    <label for="interimAmount" class="frameForText">:סך הכל לתשלום</label>
                </dt>
                <dd>
                    @*@{ float SetPrice = 0; }
                    @{var it = Model; }*@

                        @*@SetPrice= SetPrice + item.Shoe.Price;*@
                       @*@for (int i = 0; i <1; i++)
                        {
                            @SetPrice= SetPrice + it.get;
                        }*@

                    <p> the price</p>


                    <input type="text" class="autoInput">
                </dd>
            </dl>

    </dl>


    <button type="submit" class="btn btn-secondary">מעבר לתשלום</button>
    <button type="submit" class="btn btn-secondary">חזרה לקניות</button>
</form>



@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shoe)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.CardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shoe.Color)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@

@section Css{
    <link rel="stylesheet" href="~/css/OrderShoes.css" />
}
