@using Microsoft.AspNetCore.Http;
@model NewShoeStore.Models.Shoe

@{
    ViewData["Title"] = "Details";
}

<div class="setText">
    <dl class="row align-items-center d-flex justify-content-start">
        <dt>
            <img src="@Html.DisplayFor(model => model.Img)" alt="baby boot" class="rounded-sm">
        </dt>
        <dd>
            <div class="col abc">
                <h1 class="font-weight-bold f">@Html.DisplayFor(model => model.Name)</h1>
                <p class="font-weight-bolder"> @Html.DisplayFor(model => model.ProductDescription)</p>
                @if (Context.Session.GetString("user") == "4")
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary ma">ערוך</a>
                }
                <dl class="row">
                    <dt>
                        <span class="font-weight-normal">@Html.DisplayNameFor(model => model.Size):</span>
                    </dt>
                    <dd>
                        <label for="size" class="frameForText">@Html.DisplayFor(model => model.Size)</label>
                    </dd>
                </dl>

                <dl class="row">
                    <dt>
                        <span class="font-weight-normal">@Html.DisplayNameFor(model => model.Color):</span>
                        @*<span class="frameForText">
                      <label for="color">צבע</label>
                    </span>*@
                    </dt>
                    <dd>
                        <label for="color" class="frameForText">@Html.DisplayFor(model => model.Color)</label>
                    </dd>
                </dl>

                <dl class="row">
                    <dt>
                        <span class="font-weight-normal">@Html.DisplayNameFor(model => model.Price):</span>
                    </dt>
                    <dd>
                        <label for="price" class="frameForText">@Html.DisplayFor(model => model.Price)</label>
                    </dd>
                </dl>
            </div>
            <a asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-secondary btn-lg btn-block stayR" id="bar">הוסף לסל </a>
            @if (Context.Session.GetString("cart") != null && Context.Session.GetString("cart") != "")
            {
                <a asp-action="Cart" asp-route-id="@Model.Id" class="btn btn-secondary btn-lg btn-block stayR">תשלום </a>
            }
            <a asp-action="Index" class="btn btn-secondary btn-lg btn-block stayR">חזרה לרשימת המוצרים</a>
        </dd>
    </dl>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/productPage.css" />
}
@*@section Scripts{
        <script>
            function forCart() {
                if (Context.Session.GetString("user") != null) {
                    alert('!!!!!!!!!!!!!');
                }
            }
        </script>
    }*@

@section Scripts{
    <script>
        //function payment(e) {
        //    if (e == null || e == "")
        //        alert('יש לבצע הוספה לסל קודם פעולה זו');
        //}
        //function forCart() {
        //    //document.getElementById("bar").innerHTML = 'המוצר התווסף לסל';
        //    var isValid = true;
        //    var x = "התווסף לסל";
        //    document.getElementById("bar").innerHTML = x;
        //$(function () {
        //    $('#bar').click(document.getElementById("bar").innerHTML = "התווסף לסל");
        //});
        //}
    </script>
}