@model NewShoeStore.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>מחיקה</h1>

<h3>?האם אתה בטוח במחיקת ההזמנה</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחק" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">חזור לרשימת ההזמנות</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">חזור לעמוד הבית</a>
    </form>
</div>
