@using Microsoft.AspNetCore.Http;
@model IEnumerable<NewShoeStore.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>רשימת ההזמנות</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">צור הזמנה חדשה</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">חזור לעמוד הבית</a>
</p> 

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CardIdNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecurityCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CardIdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecurityCode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">ערוך</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">פרטים</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">מחק</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
